.about {
  @include paddings;

  @media (min-width: $tablet) {
    max-width: $tablet + 90px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    padding: 0;
    width: 700px;
  }
}

.about__title {
  @include font(25px, 30px, 700, $black);

  @media (min-width: $tablet) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 33px;
  }
}

.about__list {
  @include reset-list;
  max-width: $tablet;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.about__item {
  @include font(17px, 20px, 700, $black);

  padding-top: 62px;
  background-repeat: no-repeat;
  padding-right: 10px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 22px;
    width: 50%;
  }

  @media (min-width: $desktop) {
    padding-right: 30px;
  }
}

.about__item:not(:last-child) {
  margin-bottom: 21px;

  @media (min-width: $tablet) {
    margin-bottom: 49px;
  }
}

.about__item--eco {
  background-image: url("../img/icon-eco.svg");
  background-size: 33px 38px;
  background-position: 8px 7px;
  order: 1;

  @media (min-width: $tablet) {
    background-position: 8px 6px;
  }
}

.about__item--scandinavian {
  background-image: url("../img/icon-style.svg");
  background-size: 47px 27px;
  background-position: 0 8px;
  order: 3;

  @media (min-width: $tablet) {
    background-position: 1px 8px;
  }
}

.about__item--likes {
  background-image: url("../img/icon-like.svg");
  background-size: 34px 27px;
  background-position: 7px 13px;
  order: 5;

  @media (min-width: $tablet) {
    background-position: 8px 13px;
  }
}

.about__item--handmade {
  background-image: url("../img/icon-handmade.svg");
  background-size: 35px 34px;
  background-position: 3px 10px;
  order: 2;
}

.about__item--support {
  background-image: url("../img/icon-support.svg");
  background-size: 55px 23px;
  background-position: -2px 11px;
  order: 4;
  margin-left: -4px;
  padding-left: 4px;
}

.about__item--giftbox {
  background-image: url("../img/icon-giftbox.svg");
  background-size: 33px 32px;
  background-position: 3px 9px;
  order: 6;
}
