.copyright {
  @include font(19px, 18px, 700, $black);

  width: 210px;
  display: flex;
  align-items: center;
}

.copyright__logo {
  margin-left: 25px;
  margin-top: 1px;

  @media (min-width: $desktop) {
    margin-left: 26px;
  }
}
