.footer {
  background-color: $grey--light;
  padding-top: 15px;
  padding-bottom: 22px;

  @media (min-width: $tablet) {
    padding-top: 44px;
    padding-bottom: 15px;
  }
}

.footer__container {
  @include paddings;
  margin: 0 auto;
  max-width: $desktop;

  @media (min-width: $tablet) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.footer__copyright {
  margin: 16px auto 0 auto;
  padding-left: 14px;

  @media (min-width: $tablet) {
    margin: 3px 0 0 0;
    padding-left: 28px;
  }

  @media (min-width: $desktop) {
    padding-left: 26px;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    width: 102px;
    height: 35px;
    margin-top: 7px;
  }
}

.footer__logo svg {
  fill: $black;
}

.footer__logo[href]:hover svg,
.footer__logo[href]:focus svg {
  fill: $green--darker;
}

.footer__logo[href]:active svg {
  opacity: 0.3;
}
