.header {
  position: relative;
  min-height: 80px;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  max-width: 100%;
  overflow: hidden;

  @media (min-width: $tablet) {
    border: none;
  }
}

.header__toggle {
  position: absolute;
  top: 30px;
  right: 30px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.header__navigation {
  position: static;
  z-index: 2;

  @media (min-width: $tablet) {
    position: static;
  }
}
