.main-form {
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;
}

.main-form__list {
  @include reset-list;
}

.main-form__item {
  margin-bottom: 16px;
}

.main-form__group {
  position: relative;
  border: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: $green--additional;
    top: -18px;
    right: 0;
  }

  &--type {
    margin-bottom: 3px;
  }

  &--mail {
    margin-bottom: 17px;

    &::before {
      width: 180px;
      left: 90px;
    }
  }

  &--name {
    margin-bottom: 5px;
  }

  &--phone {
    margin-bottom: 17px;
  }

  &:last-child {
    margin-bottom: 17px;
  }
}

.main-form__radio {
  @include font(17px, 18px, 700, $black);

  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 58px;
  cursor: pointer;
  padding-top: 8px;
  min-height: 42px;

  &::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: transparent;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 2px solid $grey--dark;
  }

  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: transparent;

    top: 12px;
    left: 12px;
    border-radius: 50%;
  }
}

.main-form__radio:hover::before,
.main-form__checkbox:hover::before,
.main-form__input:focus + .main-form__radio::before,
.main-form__input:focus + .main-form__checkbox::before {
  border-color: $green--additional;
}

.main-form__radio:active::before,
.main-form__checkbox:active::before {
  border-color: $black--opacity-03;
}

.main-form__input:checked + .main-form__radio::after {
  background-color: $green--additional;
}

.main-form__checkbox {
  @include font(17px, 18px, 700, $black);

  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 58px;
  cursor: pointer;
  min-height: 38px;
  padding-top: 8px;

  &::before {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: transparent;
    top: 0;
    left: 0;
    border: 2px solid $grey--dark;
  }

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 17px;
    top: 12px;
    left: 9px;
  }
}

.main-form__input:checked + .main-form__checkbox::after {
  background-image: url("../../img/tick.svg");
}

.main-form__input:disabled + .main-form__radio,
.main-form__input:disabled + .main-form__checkbox {
  pointer-events: none;
  opacity: 0.3;
}

.main-form__group--type .main-form__item {
  margin-bottom: 8px;
}

.main-form__group--color .main-form__item {
  margin-bottom: 23px;
}

.main-form__button {
  width: 260px;
  margin: 0 auto;
}

.main-form__title {
  @include font(17px, 16px, 700, $green);

  margin-bottom: 10px;
}

.main-form__footnote {
  @include font(14px, 16px, 400, $grey--dark);

  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.main-form__value {
  @include font(17px, 18px, 700, $black);

  display: block;
}

.main-form__person {
  @include font(17px, 18px, 400, $grey--dark);

  border: none;
  border-bottom: 2px solid $black;
  padding: 15px 5px 15px 0;
  width: 100%;

  &::placeholder {
    color: $black--opacity-03;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    border-color: $green--additional;
    outline: none;
  }
}

.main-form__person:not(:disabled):hover + svg,
.main-form__person:not(:disabled):focus + svg,
.main-form__person:not(:disabled):active + svg {
  fill: $green--additional;
}

.main-form__group--name .main-form__title {
  margin-bottom: 8px;
}

.main-form__wishes {
  @include font(17px, 18px, 400, $grey--dark);
  border: 2px solid $grey--dark;
  width: 100%;
  min-height: 142px;
  padding: 17px;
  resize: none;

  &::placeholder {
    color: $black--opacity-03;
  }

  &:hover,
  &:focus {
    border-color: $green--additional;
    outline: none;
  }
}

.main-form input:disabled,
.main-form textarea:disabled {
  pointer-events: none;
  opacity: 0.3;
}

.main-form__label {
  position: relative;
}

.main-form__label svg {
  position: absolute;
  top: 0;
  right: 5px;
  fill: $black--opacity-02;
  pointer-events: none;
}

.main-form__group--phone .main-form__person {
  padding-right: 40px;
}
