.main__contacts {
  margin-bottom: 39px;

  @media (min-width: $tablet) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 105px;
  }
}

.main__promo {
  margin-bottom: 31px;

  @media (min-width: $desktop) {
    margin-bottom: 54px;
  }
}

.main__about {
  margin-bottom: 57px;

  @media (min-width: $tablet) {
    margin-bottom: 33px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 40px;
  }
}

.main__product {
  margin-bottom: 31px;

  @media (min-width: $tablet) {
    margin-bottom: 56px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 20px;
  }
}

.main__reviews {
  @media (min-width: $tablet) {
    margin-bottom: 17px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 44px;
  }
}
