.radio__item {
  @include font(17px, 18px, 700, $black);

  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 58px;
  cursor: pointer;
  padding-top: 8px;
  min-height: 42px;

  @media (min-width: $tablet) {
    padding: 16px 5px 16px 76px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: transparent;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 2px solid $grey--dark;

    @media (min-width: $tablet) {
      width: 52px;
      height: 52px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: transparent;

    top: 12px;
    left: 12px;
    border-radius: 50%;

    @media (min-width: $tablet) {
      top: 15px;
      left: 15px;
      width: 22px;
      height: 22px;
    }
  }

  @media (min-width: $tablet) {
    font-size: 19px;
  }
}

.radio__item:hover::before,
.radio__input:focus + .radio__item::before {
  border-color: $green--additional;
}

.radio__item:active::before {
  border-color: $black--opacity-03;
}

.radio__input:checked + .radio__item::after {
  background-color: $green--additional;
}

.radio__input:disabled + .radio__item {
  pointer-events: none;
  opacity: 0.3;
}
