.social {
  @include reset-list;

  margin: 0 0 auto 0;
  padding: 0 0 10px 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

.social::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $grey--darker;
  bottom: 0;
  left: 0;
}

.social__link {
  display: block;
  padding: 15px;
  position: relative;

  &--instagram {
    width: 22px;
    height: 22px;
  }

  &--facebook {
    width: 15px;
    height: 28px;
  }

  &--twitter {
    width: 23px;
    height: 20px;
  }
}

.social__link svg {
  position: absolute;
  fill: $grey--deep;
}

.social__link--instagram svg {
  top: 4px;
  left: 4px;
}

.social__link--facebook svg {
  top: 1px;
  left: 7px;
}

.social__link--twitter svg {
  top: 5px;
  left: 4px;
}

.social__link:hover svg,
.social__link:focus svg {
  fill: $green--darker;
}

.social__link:active svg {
  opacity: 0.3;
}

.social__item:not(:last-child) {
  margin-right: 20px;
  margin-bottom: 15px;
}
